

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

#container {
    width: 70%;
    padding: 10px;
    border: 2px solid green;
    margin: 0 auto;
    background-color: white;
}

#container h1{
    font-size: 30px;
    text-align: center;
    color: black;
}

#cabecera {
    display: flex;
    margin: 0;
}

.titulo {
    padding: 9px 0 0 5px;
    color: green;
    font-size: 30px;
}

.image {
    margin: 0;
}