body {
    color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: 70%;
    padding: 20px;
    text-align: left;
    border: 2px solid black;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
    text-align: center;
    color: white;
}

#cabecera {
    background-color: black;
    text-align: center;
    color: green;
    font-size: 25px;
    margin: 0;
    padding: 0.5px;
}