body {
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: 70%;
    padding: 20px;
    text-align: left;
    border: 2px solid green;
    margin: 0 auto;
    background-color: black;
}

#container h1{
    font-size: 30px;
    text-align: center;
    color: white;
}

#cabecera {
    background-color: black;
    text-align: center;
    color: green;
    font-size: 25px;
    margin: 0;
    padding: 0.5px;
}

.footer {
    background-color: black;
    color: green;
    text-align: center;
    padding: 2px 0 2px 0;
}